header {
    background: url('https://live.staticflickr.com/65535/51071524466_0c683d0608_b.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 26px 0;
   }
    
   .main-title{
    color: #b5b9ff;
    text-align: center;
    text-shadow: 2px 2px #000338;
    text-transform: uppercase;
    padding-bottom: 30px;
    padding-top: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 65px;
   }
    
   *, *:before, *:after{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    font-family: trebuchet ms;
   }
  
  h1{
    font-family:"trebuchet ms";
    color: black;
    text-align: left;
    font-size: 32px;
    text-transform: uppercase; 
    }
  
    h2{
      font-family:"trebuchet ms";
      color: #b5b9ff;
      text-align: center;
      text-shadow: 2px 2px #000338;
      text-transform: uppercase;
      padding-bottom: 30px;
      font-weight: bold;
      letter-spacing: 1.5px;
      font-size: 40px;
    }
    
    body{
      background-color:#b5b9ff;
    }
    
    form{
      font-size: 16px;
      font-family:"trebuchet ms";
      color: aliceblue;
      border-width: 10px;
      text-align: left;
    }
  
    .select{
      padding: 4px;
      color: aliceblue;
      background-color: #b5b9ff;
      cursor: pointer;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
  
    .select:focus,
    .select:hover{
      outline: dotted;
      border: 3px #b5b9ff;
    }
  
    .button{
      background-color:#97a2ff;
      color:aliceblue;
      margin: 10px 0;
      padding: 12px;
      border-style: dotted;
      border-radius: 3px;
      width: 100%;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 18px;
      cursor: pointer;
    }
  
    input[type=text], select, textarea{
      width: 50%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      resize: vertical;
    }